/* .backgrounda {
    background-image: url("https://img.freepik.com/premium-photo/movie-clapper-board-black-background-with-smoke_167862-7463.jpg"); 
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
} */