.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.navbar-heading {
    font-size: 1.5rem;
    align-items: center;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-link {
    cursor: pointer;
    align-items: center;
    transition: color 0.2s ease;
}

.navbar-link:hover {
    color: #ffc107; 
}
.navbar-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.navbar-search button:hover {
    animation: glowing 1500ms infinite;
    
}

  @keyframes glowing {
    0% { background-color:rgb(244, 219, 154);  }
    50% {  background-color:burlywood; }
    100% { background-color:rgb(234, 147, 34);  }
  }
  .navbar-search input {
    color: #000; 
}

.image {
    max-width: 400px;
}
.t
{
    
    float: right;
    animation: glowing1 1500ms infinite;
}
@keyframes glowing1 {
    0% { background-color:rgb(155, 155, 238);  }
    50% {  background-color:rgb(115, 227, 214); }
    100% { background-color:rgb(44, 155, 224);  }
  }
  .background {
    /* Background styles */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.scrolling-text {
    font-size: 20px;
    color: white;
    padding: 10px;
}
